In [1]:
### script pour actualizer le dataset "avions" avec l'actualisation quotidienne de "logs_vols"

In [2]:
import pandas as pd
import ast
import datetime
import subprocess
import sys
import traceback
from datetime import timedelta

In [3]:
#dataset original "composants" (en locale)

df_avions = pd.read_csv(r"C:\Users\bapti\Desktop\WCS Python\Projet 3\Projet-3-Skyanalytics\donnees_depart\aeronefs_2024-06-02.csv")

In [4]:
#dataset actualisé de "logs_vols". Ça prend toujours la version publié le jour

base_url = 'http://sc-e.fr/docs/logs_vols_'
format_date = "%Y-%m-%d"
date_dep = datetime.datetime.strptime(datetime.datetime.now().strftime(format_date),format_date)
date_fin = datetime.datetime.strptime("2024-06-03", format_date)
data_avion_global = df_avions.copy()
df_global_global = pd.DataFrame()
while date_dep >= date_fin : 
    date_dep_str = date_dep.strftime(format_date)
    url = base_url + date_dep_str + '.csv'
    try:
        log_vols_today = pd.read_csv(url)
        data_avion_global = df_avions.merge(log_vols_today,right_on="aero_linked", left_on="ref_aero",how="left")
        df_global_global = pd.concat([data_avion_global, df_global_global], axis = 0)

    except Exception as e:
            print(e)
            print(url)
            traceback.print_exc()
    date_dep = date_dep - datetime.timedelta(days=1)

In [5]:
df_global_global.dropna(subset="jour_vol",inplace=True)
df_global_global.sample(25)

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint,ref_vol,aero_linked,jour_vol,time_en_air,sensor_data,etat_voyant
78,A321_5206,A321,2018-06-07,2024-06-01 00:00:00,False,NaN,V08087998,A321_5206,2024-06-04,4.2,"{'temp': '9.2°C', 'pressure': '955.3 hPa', 'vi...",0.0
152,B767_2368,B767,2004-01-16,2024-05-31 00:00:00,False,NaN,V01568594,B767_2368,2024-06-17,1.6,"{'temp': '15.2°C', 'pressure': '973.6 hPa', 'v...",0.0
206,B777_2912,B777,2011-02-28,2024-02-09 00:00:00,False,NaN,V09645073,B777_2912,2024-06-23,5.1,"{'temp': '10.6°C', 'pressure': '934.5 hPa', 'v...",0.0
193,A330_6708,A330,2018-09-06,2024-03-02 00:00:00,False,NaN,V08241394,A330_6708,2024-06-16,9.3,"{'temp': '-5.2°C', 'pressure': '966.2 hPa', 'v...",0.0
209,E175_2805,E175,2009-04-26,2024-06-01 00:00:00,False,NaN,V03182781,E175_2805,2024-06-19,2.6,"{'temp': '7.2°C', 'pressure': '940.2 hPa', 'vi...",0.0
51,A321_1968,A321,2004-06-23,2024-06-01 00:00:00,False,NaN,V00954197,A321_1968,2024-06-18,2.6,"{'temp': '1.8°C', 'pressure': '971.1 hPa', 'vi...",0.0
222,A321_4232,A321,2015-07-30,2024-06-02,True,2024-06-03 14:13:00,V05922337,A321_4232,2024-06-22,7.1,"{'temp': '5.7°C', 'pressure': '907.4 hPa', 'vi...",0.0
183,B747_2846,B747,2000-12-18,2024-01-09 00:00:00,False,NaN,V08289553,B747_2846,2024-06-28,5.8,"{'temp': '11.7°C', 'pressure': '1025.7 hPa', '...",0.0
201,CRJ900_6738,CRJ900,2006-10-23,2024-06-01 00:00:00,False,NaN,V08667521,CRJ900_6738,2024-06-23,4.0,"{'temp': '0.4°C', 'pressure': '987.9 hPa', 'vi...",0.0
21,CRJ700_0545,CRJ700,2007-02-22,2024-05-31 00:00:00,False,NaN,V03183819,CRJ700_0545,2024-06-20,7.0,"{'temp': '0.5°C', 'pressure': '991.4 hPa', 'vi...",0.0
164,A380_6121,A380,2009-01-07,2024-01-05 00:00:00,False,NaN,V07228913,A380_6121,2024-06-04,7.9,"{'temp': '-7.6°C', 'pressure': '983.9 hPa', 'v...",0.0
217,A320_2237,A320,2011-01-23,2024-06-01 00:00:00,False,NaN,V00922297,A320_2237,2024-06-04,5.4,"{'temp': '4.8°C', 'pressure': '905.1 hPa', 'vi...",0.0
133,B777_5963,B777,2018-08-26,2023-07-02 00:00:00,False,NaN,V00835053,B777_5963,2024-06-25,7.2,"{'temp': '12.8°C', 'pressure': '830.4 hPa', 'v...",0.0
208,B767_4217,B767,2010-10-27,2024-04-14 00:00:00,False,NaN,V06116389,B767_4217,2024-06-09,3.9,"{'temp': '-11.4°C', 'pressure': '921.9 hPa', '...",0.0
112,B747_2389,B747,2006-07-01,2023-12-17 00:00:00,False,NaN,V08986312,B747_2389,2024-06-07,9.8,"{'temp': '-13.3°C', 'pressure': '879.1 hPa', '...",1.0
193,A330_6708,A330,2018-09-06,2024-03-02 00:00:00,False,NaN,V08255491,A330_6708,2024-06-24,2.8,"{'temp': '-4.4°C', 'pressure': '966.9 hPa', 'v...",0.0
97,A350_4789,A350,2022-08-17,2024-05-31 00:00:00,False,NaN,V08838623,A350_4789,2024-06-24,1.4,"{'temp': '15.2°C', 'pressure': '1000.0 hPa', '...",0.0
72,A350_6092,A350,2010-12-18,2024-02-12 00:00:00,False,NaN,V01021353,A350_6092,2024-06-15,9.4,"{'temp': '8.8°C', 'pressure': '828.5 hPa', 'vi...",0.0
30,A380_2017,A380,2010-12-24,2024-06-01 00:00:00,False,NaN,V02382569,A380_2017,2024-06-25,5.5,"{'temp': '-9.6°C', 'pressure': '988.6 hPa', 'v...",0.0
142,E175_2977,E175,2011-04-21,2024-06-01 00:00:00,False,NaN,V01310470,E175_2977,2024-06-09,5.6,"{'temp': '1.9°C', 'pressure': '914.1 hPa', 'vi...",0.0
32,E175_4558,E175,2003-02-09,2024-06-01 00:00:00,False,NaN,V06255132,E175_4558,2024-06-27,2.7,"{'temp': '-10.9°C', 'pressure': '1002.3 hPa', ...",0.0
121,CRJ900_1943,CRJ900,2011-03-30,2024-04-26 00:00:00,False,NaN,V05004206,CRJ900_1943,2024-06-18,3.2,"{'temp': '-2.7°C', 'pressure': '929.8 hPa', 'v...",0.0
4,B777_4029,B777,2009-01-01,2024-06-01 00:00:00,False,NaN,V04230297,B777_4029,2024-06-13,3.8,"{'temp': '11.8°C', 'pressure': '1055.9 hPa', '...",0.0
149,A340_4662,A340,2000-09-02,2024-05-31 00:00:00,False,NaN,V07898594,A340_4662,2024-06-08,5.4,"{'temp': '0.7°C', 'pressure': '1074.0 hPa', 'v...",0.0
184,B747_2846,B747,2000-12-18,2024-01-09 00:00:00,False,NaN,V03306545,B747_2846,2024-06-12,4.7,"{'temp': '-0.6°C', 'pressure': '956.8 hPa', 'v...",0.0

In [6]:
#merge entre le dataset "composants" et le dataset "degradation"


#drop colonnes avec information répété ou pas relevant. un peu de nettoyage aussi.

df_global_global.drop(columns=["aero_linked", "ref_vol"], inplace=True)
df_global_global["jour_vol"] = pd.to_datetime(df_global_global["jour_vol"])
df_global_global["end_maint"] = df_global_global["end_maint"].str.replace(" 00:00:00","")
df_global_global["last_maint"] = df_global_global["last_maint"].str.replace(" 00:00:00","")
df_global_global["last_maint"] = pd.to_datetime(df_global_global["last_maint"])
df_global_global["debut_service"] = pd.to_datetime(df_global_global["debut_service"])  
df_global_global["end_maint"] = pd.to_datetime(df_global_global["end_maint"])

In [7]:
df_global_global[["end_maint","last_maint","en_maintenance"]][df_global_global["en_maintenance"]==True]

              end_maint last_maint  en_maintenance
54  2024-06-03 14:13:00 2024-06-02            True
79  2024-06-03 14:13:00 2024-06-02            True
116 2024-06-03 14:13:00 2024-06-02            True
126 2024-06-03 14:13:00 2024-06-02            True
181 2024-06-03 14:13:00 2024-06-02            True
..                  ...        ...             ...
143 2024-06-03 14:13:00 2024-06-02            True
188 2024-06-03 14:13:00 2024-06-02            True
222 2024-06-03 14:13:00 2024-06-02            True
116 2024-06-03 14:13:00 2024-06-02            True
126 2024-06-03 14:13:00 2024-06-02            True

[132 rows x 3 columns]

In [8]:
df_global_global = df_global_global = df_global_global.dropna(subset=["etat_voyant"])
df_global_global["etat_voyant"]

1      0.0
4      0.0
5      0.0
7      0.0
10     1.0
      ...
219    0.0
220    1.0
226    0.0
227    0.0
228    0.0
Name: etat_voyant, Length: 2559, dtype: float64

In [9]:
#change tous les avions qui ont un voyant allumé pour "en maitenance" et calcule la date de fin de maintenante
today = datetime.datetime.now().date()
df_global_global.loc[df_global_global["etat_voyant"] != 0, "en_maintenance"] = True
df_global_global.loc[df_global_global["etat_voyant"] == 1, "end_maint"] = pd.to_datetime(today + timedelta(days=1))
df_global_global.loc[df_global_global["etat_voyant"] == 2, "end_maint"] = pd.to_datetime(today + timedelta(days=7))
df_global_global.loc[df_global_global["etat_voyant"] == 3, "end_maint"] = pd.to_datetime(today + timedelta(days=14))

In [10]:
df_global_global[df_global_global["etat_voyant"] != 0]

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint,jour_vol,time_en_air,sensor_data,etat_voyant
10,E170_1544,E170,2011-11-27,2023-11-22,True,2024-06-29,2024-06-03,7.2,"{'temp': '25.9°C', 'pressure': '925.2 hPa', 'v...",1.0
33,B767_5422,B767,2011-06-30,2024-06-01,True,2024-06-29,2024-06-03,8.4,"{'temp': '-17.0°C', 'pressure': '1045.6 hPa', ...",1.0
34,B777_6867,B777,2005-04-23,2023-09-04,True,2024-06-29,2024-06-03,5.9,"{'temp': '-1.8°C', 'pressure': '908.8 hPa', 'v...",1.0
44,A330_1199,A330,2017-04-02,2024-05-31,True,2024-06-29,2024-06-03,10.8,"{'temp': '-17.0°C', 'pressure': '961.5 hPa', '...",1.0
101,B777_0908,B777,2015-07-23,2024-05-31,True,2024-06-29,2024-06-03,1.5,"{'temp': '-13.6°C', 'pressure': '981.8 hPa', '...",1.0
...,...,...,...,...,...,...,...,...,...,...
155,CRJ900_6319,CRJ900,2016-02-02,2024-04-05,True,2024-06-29,2024-06-28,4.6,"{'temp': '-17.4°C', 'pressure': '909.3 hPa', '...",1.0
159,E170_6246,E170,2001-03-18,2024-05-31,True,2024-07-05,2024-06-28,5.5,"{'temp': '-0.5°C', 'pressure': '971.4 hPa', 'v...",2.0
161,B777_5812,B777,2004-12-27,2024-06-01,True,2024-06-29,2024-06-28,8.5,"{'temp': '-15.6°C', 'pressure': '961.2 hPa', '...",1.0
204,B747_2659,B747,2022-03-04,2024-06-01,True,2024-06-29,2024-06-28,4.8,"{'temp': '-13.8°C', 'pressure': '1006.0 hPa', ...",1.0
220,E175_6879,E175,2004-09-05,2024-04-11,True,2024-06-29,2024-06-28,3.4,"{'temp': '-20.1°C', 'pressure': '910.9 hPa', '...",1.0

In [11]:
#fonction pour calculer le cout de l'arret selon le voyant. Il faut encore ajouter le cout des composants

def cout(df):
    df["cout_avion"] = 0
    df.loc[df["etat_voyant"] == 3, "cout"] = 15000 * 14
    df.loc[df["etat_voyant"] == 2, "cout"] = 15000 * 7
    df.loc[df["etat_voyant"] == 1, "cout"] = 15000
    
    return df

In [12]:
df_global_global = cout(df_global_global)

In [13]:
df_global_global.sort_values(by="cout_avion", ascending=False)

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint,jour_vol,time_en_air,sensor_data,etat_voyant,cout_avion,cout
1,B767_2803,B767,2020-12-03,2024-06-01,False,NaT,2024-06-03,7.5,"{'temp': '-3.5°C', 'pressure': '958.8 hPa', 'v...",0.0,0,NaN
156,A350_0643,A350,2002-04-08,2024-02-13,False,NaT,2024-06-20,6.9,"{'temp': '-8.0°C', 'pressure': '974.5 hPa', 'v...",0.0,0,NaN
139,CRJ900_2577,CRJ900,2003-01-08,2024-05-31,False,NaT,2024-06-20,5.4,"{'temp': '5.2°C', 'pressure': '916.4 hPa', 'vi...",0.0,0,NaN
142,E175_2977,E175,2011-04-21,2024-06-01,False,NaT,2024-06-20,8.9,"{'temp': '1.9°C', 'pressure': '880.7 hPa', 'vi...",0.0,0,NaN
145,A320_6924,A320,2016-05-19,2024-02-03,False,NaT,2024-06-20,8.5,"{'temp': '0.0°C', 'pressure': '914.4 hPa', 'vi...",0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
171,CRJ700_0969,CRJ700,2003-01-25,2024-06-01,False,NaT,2024-06-11,5.5,"{'temp': '5.0°C', 'pressure': '858.7 hPa', 'vi...",0.0,0,NaN
173,A380_0710,A380,2021-10-17,2024-01-29,False,NaT,2024-06-11,5.7,"{'temp': '-3.2°C', 'pressure': '930.3 hPa', 'v...",0.0,0,NaN
177,E170_1130,E170,2011-05-21,2024-06-01,True,2024-06-29,2024-06-11,0.7,"{'temp': '-17.1°C', 'pressure': '865.5 hPa', '...",1.0,0,15000.0
178,A380_6878,A380,2003-07-12,2024-06-01,False,NaT,2024-06-11,1.7,"{'temp': '-5.1°C', 'pressure': '986.2 hPa', 'v...",0.0,0,NaN
228,A340_4021,A340,2004-12-13,2024-05-31,False,NaT,2024-06-28,3.9,"{'temp': '8.4°C', 'pressure': '956.8 hPa', 'vi...",0.0,0,NaN

In [14]:
df_global_global.to_csv(r"C:\Users\bapti\Desktop\WCS Python\Projet 3\Projet-3-Skyanalytics\fichier_global\cout_journa_avion.csv")